@model CS330_Fall2024_FinalProject.Models.RosterViewModel

@* -Roster View *@
@{
    ViewData["Title"] = "Roster Page";
}

@section Scripts {
    <script src="~/js/roster.js"></script>
}

<div class="container text-center mt-5">
    <h1 class="display-6 text-primary fw-bold">Team Roster</h1>
    <p class="lead text-secondary mt-3 fs-6">Meet our amazing athletes and view their stats.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!-- search bar -->
            <div class="mb-4">
                <input type="text" id="searchInput" class="form-control" placeholder="Search athletes by name or number">
            </div>

            <form asp-action="GenerateAverageReport" method="post">
                                <input type="hidden" name="id" >
                                <button type="submit" class="btn btn-primary btn-sm">Generate Average Report</button>
            </form>
         
            <!-- roster table -->
            <table class="table table-striped table-hover border shadow-sm rounded" id="rosterTable">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var athlete in Model.Athletes)
                    {
                        <tr>
                            <td>@athlete.Name</td>
                            <td>@athlete.Number</td>
                            <td>
                                <button class="btn btn-primary btn-sm">See Athlete Stats</button>
                                
                            </td>         
                            <td> 
                                <form asp-action="DeleteAthlete" method="post">
                                <input type="hidden" name="id" value="@athlete.Id">
                                <button type="submit" class="btn btn-primary btn-sm">Delete Athlete</button>
                                </form>
                            
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

