@{
    ViewData["Title"] = "Snow Ski Team Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-3 text-primary">Snow Ski</h1>
    <p class="lead">#1 In the SEC</p>
</div>

<section class="my-5">
    <h2 class="display-5">About Us</h2>
    <p class="text-muted">
        Some Team Description
    </p>
</section>

<button class="btn btn-primary" onclick="goToChatBot()">Chat Bot</button>

<!--Image Gallary -->
<section class="my-5">
    <h2 class="display-5">Team Gallery</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="~/Images/images.jpeg" alt="Ski Photo" class="img-fluid rounded">
        </div>
    </div>
</section>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

