@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<body class="access-denied-page">
    <div class="page-title accent-background">
            <div class="container position-relative">
            </div>
        </div>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</body>
