@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<body class="secondary-page">
    <main class="main">
        <div class="page-title accent-background">
            <div class="container position-relative">
                <h2>Register Confirmation</h2>
                <p>Please check your email to confirm your account.</p>
            </div>
        </div>
</body>
