<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/65d44826-584b-465e-af5e-acb8da89896b/resourceGroups/Fall2024-Final-akspencer1-ResourceGroup/providers/Microsoft.Web/sites/CS330-Fall2024-FinalProject</ResourceId>
    <ResourceGroup>Fall2024-Final-akspencer1-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://cs330-fall2024-finalproject.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://cs330-fall2024-finalproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$CS330-Fall2024-FinalProject</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>