@* -schedule page for games, practices, and events- *@
@{
    ViewData["Title"] = "";
}
<div class="page-title accent-background">
    <div class="container position-relative">
        <h2>Coaches Demo Page</h2>
        <p>This page is only for members with the Coach role.</p>
    </div>
</div>
<div class="container text-center mt-5">
    <h1 class="display-6 text-primary fw-bold">Welcome, Coach!</h1>
    <p class="lead text-muted">
        If you can see this page, you have the Coach role!
    </p>

</div>
