
@model CS330_Fall2024_FinalProject.Models.ChatBot
<head>
    <meta charset="utf-8" />
    <title></title>
    @* <link rel="stylesheet" href="/wwwroot/css/site.css"> *@
    @* <script src="/wwwroot/js/site.js"></script> *@

</head>
@* <div class="container text-center mt-5">
        <h1 class="display-5 text-primary fw-bold">Snow Ski</h1>
        <p class="lead text-secondary">#1 in the SEC</p>
    </div> *@
<body>
    <div class="container text-center my-5">
        <h1 class="display-6 text-primary fw-bold" id="Title"> Ski Bot </h1> <!-- our chat bot -->
        <p class="lead text-secondary"> Type a prompt to our Ski Bot! </p>

        <br /> <br />
        @if (Model == null) {
            <form asp-action="GenerateResponse" method="post">
                <div class="form-group">
                    @* <label for="userPrompt">Enter your prompt:</label> *@
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" id="userPrompt" name="userPrompt" class="form-control" required placeholder="Enter your prompt:" />
                            <br><br>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            
            </form>
        }
        else {
            @if (Model != null && Model.response.Any()) {
                <div class="mt-3">
                    @foreach (var response in Model.response) {
                        @* @response *@
                        <p>@Html.Raw(response.Replace("\n", "<br>"))</p>

                    }
                </div>
            } else
                { <p id="Summary"> it was empty or something . </p>}
            }
        <br />
        @* <p id="Summary"> Input chat bot request. </p> *@
    </div>
</body>

